@import 'main.css';

.frame-content {
	padding: 16px;
}

//date
.frame-content > div {
}
.frame-content > div > div:nth-child(2) {
	display: block;
	margin-top: -.5rem !important;
	margin-bottom: 1rem !important;
	color: #9a9a9a;
}

article a {
	color: #d28445;
}

article {
	margin-bottom: 4em;
}

article img {
	margin: 4px auto;
	max-height: 40vh;
}

@media screen and (min-width: 58em) {
	article img.float-right,
	article img.float-left {
		max-width: 48%;
		margin: 4px;
	}
	article img.float-right {
		float: right;
	}
	article img.float-left {
		float: left;
	}
}
