<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="{{ .Site.BaseURL }}">
        <h2>{{ .Site.Title }}</h2>
      </a>
      <br>
      <p class="lead">I write about tech, story, strategy, information & marketing. I also help companies <a href="https://davideberretta.com"> find their voice</a>.</p>
      <br>

      <div class="row space-around social-icons">
        <a href="https://instagram.com/daveeday">
          <div class="icon">
            <img src="/icons/iconmonstr-instagram-11.svg"
              alt="Instagram">
          </div>
        </a>
        <a href="https://linkedin.com/in/davideberretta">
          <div class="icon">
            <img src="/icons/iconmonstr-linkedin-4.svg"
              alt="Linkedin">
          </div>
        </a>
        <a href="https://twitter.com/daveeday">
          <div class="icon">
            <img src="/icons/iconmonstr-twitter-4.svg"
              alt="Linkedin">
          </div>
        </a>
        <a href="mailto:david.e.berretta@gmail.com?Subject=Hello">
          <div class="icon">
            <img src="/icons/iconmonstr-email-11-240.png"
              alt="Email">
          </div>
          <a href="https://clarity.fm/davideb">
            <div class="icon">
              <img src="/icons/iconmonstr-phone-9.svg"
                alt="Clarity.cm">
            </div>
          </a>
      </div>
      <br>

      <p>Get these posts via email <a href="http://eepurl.com/cSDdRr">here</a></p>

    </div>

    <!-- <ul class="sidebar-nav">
      <li><a href="/">home</a> </li>
      {{ range .Site.Menus.main }}
        <li><a href="{{.URL}}"> {{ .Name }} </a></li>
      {{end}}
    </ul> -->
    <br>
    <p style="font-size:70%">© Davide Berretta 2017. All rights reserved.</p>
  </div>
</div>